.lintyai-gutter {
    width: 40px;
    color: #fff;
    background: #cc3333;
    text-align: right;
    padding-right: 5px;
}

.lintyai-gutter.warning {
    background: #ff9933;
}

.lintyai-gutter.notice {
    background: #ffcc66;
}

.lintyai-line-widget {
    color: #fff;
    background: #cc3333;
    padding: 5px 0 5px 60px;
    white-space: pre;
}

.lintyai-line-widget.warning {
    background: #ff9933;
}

.lintyai-line-widget.notice {
    background: #ffcc66;
}
